#infoTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

button{
    margin-bottom: 25px;
}

#backLink{
    text-decoration: none;
    color: black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}